<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Rollen</p-tab>
    <p-tab value="1">Bausteine</p-tab>
    <p-tab value="2">Betriebsformen/-arten</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <p-table [value]="mitarbeiterRoles()" size="small">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-center items-center">
                Anzeigen
              </div>
            </th>
            <th>Rolle</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-r>
          <tr>
            <td>
              <div class="flex justify-center items-center">
                <p-button
                  [icon]="isRoleHidden(r.id) ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [rounded]="true"
                  [text]="true"
                  [severity]="isRoleHidden(r.id) ? 'danger' : 'success'"
                  (onClick)="toggleRoleVisibility(r)"
                />
              </div>
            </td>
            <td>{{ r.name }}</td>
            <td>
              <div class="flex gap-1">
                <p-button label="+" (onClick)="addRole(r)" severity="contrast" size="small"/>
                <p-button label="−" (onClick)="removeRole(r)" severity="contrast" size="small"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p-table [value]="bausteinRoles()" size="small">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-center items-center">
                Anzeigen
              </div>
            </th>
            <th>Baustein</th>
            <th>Beschreibung</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-b>
          <tr>
            <td>
              <div class="flex justify-center items-center">
                <p-button
                  [icon]="isRoleHidden(b.id, 'baustein') ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [rounded]="true"
                  [text]="true"
                  [severity]="isRoleHidden(b.id, 'baustein') ? 'danger' : 'success'"
                  (onClick)="toggleRoleVisibility(b, 'baustein')"
                />
              </div>
            </td>
            <td>{{ b.name }}</td>
            <td>{{ b.description }}</td>
            <td>
              <div class="flex gap-1">
                <p-button label="+" (onClick)="addRole(b, 'baustein')" severity="contrast" size="small"/>
                <p-button label="−" (onClick)="removeRole(b, 'baustein')" severity="contrast" size="small"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="2">
      <p-table [value]="betriebsformArtenRoles()" size="small">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-center items-center">
                Anzeigen
              </div>
            </th>
            <th>Betriebsform/-art</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-bf>
          <tr>
            <td>
              <div class="flex justify-center items-center">
                <p-button
                  [icon]="isRoleHidden(bf.id, 'betriebsform') ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [rounded]="true"
                  [text]="true"
                  [severity]="isRoleHidden(bf.id, 'betriebsform') ? 'danger' : 'success'"
                  (onClick)="toggleRoleVisibility(bf, 'betriebsform')"
                />
              </div>
            </td>
            <td>{{ bf.name }}</td>
            <td>
              <div class="flex gap-1">
                <p-button label="+" (onClick)="addRole(bf, 'betriebsform')" severity="contrast" size="small"/>
                <p-button label="−" (onClick)="removeRole(bf, 'betriebsform')" severity="contrast" size="small"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
