<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Rollen</p-tab>
    <p-tab value="1">Bausteine</p-tab>
    <p-tab value="2">Betriebsformen/-arten</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <p-table [value]="roles" size="small">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-center items-center">
                Anzeigen
              </div>
            </th>
            <th>Rolle</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-r>
          <tr>
            <td>
              <div class="flex justify-center items-center">
                <p-button
                  [icon]="isRoleHidden(r.id) ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [rounded]="true"
                  [text]="true"
                  [severity]="isRoleHidden(r.id) ? 'danger' : 'success'"
                  (onClick)="toggleRoleVisibility(r)"
                />
              </div>
            </td>
            <td>{{ r.name }}</td>
            <td>
              <div class="flex gap-1">
                <p-button label="+" (onClick)="addRole(r)" severity="contrast" size="small"/>
                <p-button label="−" (onClick)="removeRole(r)" severity="contrast" size="small"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p-table [value]="textBlocks" size="small">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-center items-center">
                Anzeigen
              </div>
            </th>
            <th>Baustein</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-b>
          <tr>
            <td>
              <div class="flex justify-center items-center">
                <p-button
                  [icon]="isRoleHidden(b.id) ? 'pi pi-eye-slash' : 'pi pi-eye'"
                  [rounded]="true"
                  [text]="true"
                  [severity]="isRoleHidden(b.id) ? 'danger' : 'success'"
                  (onClick)="toggleTextBlockVisibility(b)"
                />
              </div>
            </td>
            <td>{{ b.name }}</td>
            <td>
              <div class="flex gap-1">
                <p-button label="+" (onClick)="addTextBlock(b)" severity="contrast" size="small"/>
                <p-button label="−" (onClick)="removeTextBlock(b)" severity="contrast" size="small"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
